.visual-editor-save{
    border: 1px solid #FFF;
    background: #708765;
    color: #FFF;
    font-size: 14px;
    padding: 10px;
    &:hover{
        background: #339900;
    }
}
adm[type="structure"]{
    display: none;
}
.add-item-visual-editor button{
    width: 35px;
    height: 35px;
    background: #339900;
    color: #FFF;
    border: none;
    margin: 0 auto;
    display: block;
}
[admitem]{
    position: relative;
    button[adm-delete]{
        width: 35px;
        height: 35px;
        display: block;
        position: absolute;
        color: #FFF;
        border: none;
        background: #990000;
        display: none;
    }
    &:hover{
        button[adm-delete]{
            display: block;
        }
    }
}